{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "quotes": "error",
    "import/prefer-default-export": "off",
    "react/jsx-no-bind": [1, {
      "allowFunctions": true
    }]
  }
}